<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>herald.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EBBF50721286AE7002FA50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EBBF51B21286AE8002FA50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EBBF52621286AE8002FA50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EBBF52F21286AE8002FA50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
